<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <%= render 'shared/content_title', title: 'Contact List' %>
    <%= render 'new' %>
    <%= render 'list' %>
    <%= render 'modal' %>
  </div>
  <div class="col-md-2"></div>
</div>
